<div class="form-group">
      <label for="title">Artist</label>
      <input type="text"
         class="form-control"
         name="artist"
         value="<%= song.artist %>">
</div>

<div class="form-group">
      <label for="completed">Album</label>
      <input type="text"
         class="form-control"
         name="album"
         value="<%= song.album %>">
</div>

<div class="form-group">
      <label for="completed">Title</label>
      <input type="text"
         class="form-control"
         name="title"
         value="<%= song.title %>">
</div>
